.navigate /*flex container*/
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navigate div /*chile item-flex */
{
  background-color: #4dff4d;
  text-align: center;
  border: 1px solid black;
  width: 100px;
  flex: 1;
}

.navigate div a
{
	text-decoration: none;
	color: black;
}